@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Permanent+Marker&display=swap');
.carts-home {
	box-shadow: 10px 10px 20px #835dff;
	border: none;
}

.carts-home:hover {
	box-shadow: 4px 4px 7px gray;
	border-radius: 10px;
	border: 1px solid #6e54ff;
	background: white;
}

.banner-bg {
	background-image: url(../../../images/slider/slider-1.jpg);
}