.drawer {
	background-image: url(../../../images/wall-headphones.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	/* background-blend-mode: darken, luminosity; */
	background-blend-mode: multiply;
	/* background-color: 'rgba(45,58,74 ,0.8)', */
	/* background-color: red, */
	background-color: rgb(74, 62, 136);
}

.drawer button {
	color: white;
}

.link-line {
	text-decoration: none;
}

.hover-link5:hover {
	background-color: rgb(72, 56, 153);
	font-style: italic;
	border-radius: 5px;
}

.review-bg {
	background-image: url(../../../images/review.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* margin-top: -5px; */
}

.dash {
	color: rgb(66, 19, 141);
	font-weight: 800;
}